       {{#if firstname}}
    <div id="greeting" style="">
      <strong>
       <a href="/lists/postads">Post your Advertisements</a></strong>
    </div>
    {{/if}}

Latest Advertisements

<div ng-app="app">
  <div ng-view></div>
</div>

<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>

<script src="/javascripts/app/app.js"></script>
<script src="/javascripts/app/route-config.js"></script>
<script src="/javascripts/app/ad/ad.js"></script>

