<<<<<<< HEAD
<div><a href="/users/login">Login</a></div><div><a href="/ad">View Latest Classified Advertisement</a></div>
=======
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
>>>>>>> b885d887e1ecde26b2f0af548719a72b441f64b9
