<div class="textwidget margin-top-30">
												</div>
												<h1> Login to post your ad </h1></h1>
										<div class="widget">
											<form name="login-form" id="login-form" method="post" action="/users/login">
												<div class="form-group">
													<label for="email">Email</label>
													<input type="text" id="email" name="email" />
												</div>
												<div class="form-group">
													<label for="password">Password</label>
													<input type="password" id="password" name="password" />
												</div>
													<div class="form-group">
													<label for="remember">Remember Password</label>
													<input type="checkbox" id="remember" name="remember" />
												</div>
												
												<div class="form-submit">
													<input type="submit" value="Log in" />
													<div class="margin-top-30">
														or <a href="/users/register">Create an account</a>
													</div>
												</div>	
												<span > {{#if error}} -{{error}} {{/if}}</span>
											</form>
										</div>
										
										
